[go to notebook](http://localhost:8888/notebooks/scripts/11.ipynb)

In [2]:
import pandas as pd

In [3]:
ufo = pd.read_csv('../data/ufo.csv', nrows=3)
ufo

          City  Colors Reported Shape Reported State             Time
0       Ithaca              NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro              NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke              NaN           OVAL    CO  2/15/1931 14:00

In [4]:
ufo = pd.read_csv('../data/ufo.csv')

In [5]:
# for in loop on Series
for c in ufo.City.head(3):
    print(c)

Ithaca
Willingboro
Holyoke

In [7]:
# iterrows: iterate through a dataframe
a=[]
b=[]
c=[]
for index, row in ufo.head().iterrows():
    a.append(index)
    b.append(row.City)
    c.append(row.State)
    
print a, b, c

[0, 1, 2, 3, 4] ['Ithaca', 'Willingboro', 'Holyoke', 'Abilene', 'New York Worlds Fair'] ['NY', 'NJ', 'CO', 'KS', 'NY']