[go to notebook](http://localhost:8888/notebooks/scripts/12.ipynb)

In [10]:
import pandas as pd
from IPython.display import display
pd.set_option('display.max_rows', 5)

In [11]:
drinks = pd.read_csv('../data/drinks.csv')
drinks.dtypes

country                          object
beer_servings                     int64
                                 ...
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [12]:
# select columns by dtypes
import numpy as np
display(drinks.select_dtypes(include=[np.float]))
display(drinks.select_dtypes(include=[np.int, np.object]))
display(drinks.select_dtypes(include=[np.number]).dtypes)

     total_litres_of_pure_alcohol
0                             0.0
1                             4.9
..                            ...
191                           2.5
192                           4.7

[193 rows x 1 columns]

         country  beer_servings  spirit_servings  wine_servings continent
0    Afghanistan              0                0              0      Asia
1        Albania             89              132             54    Europe
..           ...            ...              ...            ...       ...
191       Zambia             32               19              4    Africa
192     Zimbabwe             64               18              4    Africa

[193 rows x 5 columns]

beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
dtype: object