[go to notebook](http://localhost:8888/notebooks/scripts/13.ipynb)

In [1]:
import pandas as pd
pd.set_option('display.max_rows', 4)

In [2]:
drinks = pd.read_csv('../data/drinks.csv')
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
...,...,...,...,...,...,...
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

In [3]:
# drop column (temporarily)
drinks.drop('continent', axis=1)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
...,...,...,...,...,...
191,Zambia,32,19,4,2.5
192,Zimbabwe,64,18,4,4.7

In [4]:
# drop row (temporarily)
drinks.drop(2, axis=0)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
...,...,...,...,...,...,...
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

In [5]:
# column mean
drinks.mean()

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

In [6]:
# column mean
drinks.mean(axis=0)

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

In [10]:
# row mean
drinks.mean(axis=1)

0       0.000
1      69.975
        ...
191    14.375
192    22.675
dtype: float64

In [8]:
drinks.mean(axis='index')

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

In [9]:
drinks.mean(axis='columns')

0       0.000
1      69.975
        ...
191    14.375
192    22.675
dtype: float64