[go to notebook](http://localhost:8888/notebooks/scripts/14.ipynb)

In [12]:
import pandas as pd
pd.set_option('display.max_rows', 4)
from IPython.display import display

In [13]:
orders = pd.read_table('../data/chipotle.tsv')
orders

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
...,...,...,...,...,...
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [14]:
# string.upper()
'hello'.upper()

'HELLO'

In [15]:
# Series.str.upper()
orders.item_name.str.upper()

0       CHIPS AND FRESH TOMATO SALSA
1                               IZZE
                    ...
4620              CHICKEN SALAD BOWL
4621              CHICKEN SALAD BOWL
Name: item_name, dtype: object

In [16]:
# Series.str.contains()
orders.item_name.str.contains('Chicken')

0       False
1       False
        ...
4620     True
4621     True
Name: item_name, dtype: bool

In [17]:
# use the boolean Series to filter the DataFrame
orders[orders.item_name.str.contains('Chicken')]

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
...,...,...,...,...,...
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [22]:
# string method chain: str.replace().str.replace()
display(orders.choice_description)
orders.choice_description.str.replace('[', '').str.replace(']', '')

0                                                     NaN
1                                            [Clementine]
                              ...
4620    [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...
4621    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
Name: choice_description, dtype: object

0                                                     NaN
1                                              Clementine
                              ...
4620       Fresh Tomato Salsa, Fajita Vegetables, Lettuce
4621    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
Name: choice_description, dtype: object

In [23]:
# str.replace: regular expression 
orders.choice_description.str.replace('[\[\]]', '').head()

0                                                  NaN
1                                           Clementine
                           ...
3                                                  NaN
4    Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
Name: choice_description, dtype: object