[notebook](http://localhost:8888/notebooks/scripts/18.ipynb)

In [69]:
import pandas as pd
from IPython.display import display
pd.set_option('display.max_rows', 5)

In [70]:
ufo = pd.read_csv('../data/ufo.csv')
ufo

              City Colors Reported Shape Reported State              Time
0           Ithaca             NaN       TRIANGLE    NY    6/1/1930 22:00
1      Willingboro             NaN          OTHER    NJ   6/30/1930 20:00
...            ...             ...            ...   ...               ...
18239  Eagle River             RED          LIGHT    WI  12/31/2000 23:45
18240         Ybor             NaN           OVAL    FL  12/31/2000 23:59

[18241 rows x 5 columns]

In [71]:
# isnull or notnull: dataframe or series
ufo.isnull()

        City Colors Reported Shape Reported  State   Time
0      False            True          False  False  False
1      False            True          False  False  False
...      ...             ...            ...    ...    ...
18239  False           False          False  False  False
18240  False            True          False  False  False

[18241 rows x 5 columns]

In [72]:
ufo.notnull()

       City Colors Reported Shape Reported State  Time
0      True           False           True  True  True
1      True           False           True  True  True
...     ...             ...            ...   ...   ...
18239  True            True           True  True  True
18240  True           False           True  True  True

[18241 rows x 5 columns]

In [73]:
# sum of null 
ufo.isnull().sum()

City                  25
Colors Reported    15359
Shape Reported      2644
State                  0
Time                   0
dtype: int64

In [74]:
# select with null
ufo[ufo.City.isnull()]

      City Colors Reported Shape Reported State             Time
21     NaN             NaN            NaN    LA   8/15/1943 0:00
22     NaN             NaN          LIGHT    LA   8/15/1943 0:00
...    ...             ...            ...   ...              ...
16054  NaN           GREEN            NaN    FL   3/11/2000 3:30
16608  NaN             NaN         SPHERE    NY  6/15/2000 15:00

[25 rows x 5 columns]

In [75]:
ufo.shape

(18241, 5)

In [76]:
# dropna: remove NA or missing data or null
# any: one out of a row
display(ufo.dropna(how='any').shape)
ufo[ufo.City.isnull()]

(2486, 5)

      City Colors Reported Shape Reported State             Time
21     NaN             NaN            NaN    LA   8/15/1943 0:00
22     NaN             NaN          LIGHT    LA   8/15/1943 0:00
...    ...             ...            ...   ...              ...
16054  NaN           GREEN            NaN    FL   3/11/2000 3:30
16608  NaN             NaN         SPHERE    NY  6/15/2000 15:00

[25 rows x 5 columns]

In [77]:
# copy: copy a data
ufo1 = ufo.copy()
ufo1.shape

# without copy: when ufo change, ufo2 will change as well
ufo2 = ufo

In [78]:
# inplace: change data for real
ufo1.dropna(how='any', inplace=True)
ufo1.shape

(2486, 5)

In [85]:
# all: all values in a row
ufo.dropna(how='any')
display(ufo.shape)

# without copy: ufo2 changed
ufo.dropna(how='any', inplace=True)
display(ufo.shape)
display(ufo2.shape)

(18241, 5)

(2877, 5)

(2877, 5)

In [80]:
# subset: list of columns
ufo.dropna(subset=['City', 'Shape Reported'], how='any').shape

(15576, 5)

In [81]:
display(ufo.dropna(subset=['City', 'Shape Reported'], how='all').shape)

# loc isnull $
ufo.loc[ufo.City.isnull() & ufo['Shape Reported'].isnull(), ['City', 'Shape Reported'] ]

(18237, 5)

      City Shape Reported
21     NaN            NaN
2013   NaN            NaN
5269   NaN            NaN
16054  NaN            NaN

In [82]:
ufo['Shape Reported'].value_counts()

LIGHT      2803
DISK       2122
           ...
FLARE         1
HEXAGON       1
Name: Shape Reported, dtype: int64

In [83]:
# dropna=False: count missing data too
ufo['Shape Reported'].value_counts(dropna=False)

LIGHT      2803
NaN        2644
           ...
HEXAGON       1
FLARE         1
Name: Shape Reported, dtype: int64

In [84]:
# fillna: fill missing data new value
ufo['Shape Reported'].fillna(value='VARIOUS', inplace=True)
ufo['Shape Reported'].value_counts()

VARIOUS    2977
LIGHT      2803
           ...
DOME          1
FLARE         1
Name: Shape Reported, dtype: int64