[notebook](http://localhost:8888/notebooks/scripts/20.ipynb)

In [2]:
import pandas as pd
from IPython.display import display
pd.set_option('display.max_rows', 4)
pd.set_option('display.max_columns', 10)

In [3]:
drinks = pd.read_csv('../data/drinks.csv')
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
...,...,...,...,...,...,...
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

In [4]:
drinks.index

RangeIndex(start=0, stop=193, step=1)

In [5]:
# every Series also has an index (which carries over from the DataFrame)
display(len(drinks.continent))
drinks.continent.head()

193

0      Asia
1    Europe
      ...
3    Europe
4    Africa
Name: continent, dtype: object

In [6]:
# set 'country' as the index
drinks.set_index('country', inplace=True)

Documentation for [**`set_index`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.set_index.html)

In [7]:
# Series index is on the left, values are on the right
drinks.continent.head()

country
Afghanistan      Asia
Albania        Europe
                ...
Andorra        Europe
Angola         Africa
Name: continent, dtype: object

In [8]:
# another example of a Series (output from the 'value_counts' method)
display(drinks.continent.value_counts())

Africa           53
Europe           45
                 ..
Oceania          16
South America    12
Name: continent, dtype: int64

In [9]:
display(drinks.continent.value_counts().shape)
display(drinks.continent.value_counts().dtypes)

(6,)

dtype('int64')

In [10]:
drinks.continent.value_counts().index

Index([u'Africa', u'Europe', u'Asia', u'North America', u'Oceania',
       u'South America'],
      dtype='object')

In [11]:
# values: get values of Series
drinks.continent.value_counts().values

array([53, 45, 44, 23, 16, 12])

In [12]:
# Series[index]
drinks.continent.value_counts()['Africa']

53

In [13]:
# sort_values: order by value
drinks.continent.value_counts().sort_values()

South America    12
Oceania          16
                 ..
Europe           45
Africa           53
Name: continent, dtype: int64

In [14]:
# sort_index: order by index
drinks.continent.value_counts().sort_index()

Africa           53
Asia             44
                 ..
Oceania          16
South America    12
Name: continent, dtype: int64

In [15]:
drinks.beer_servings

country
Afghanistan     0
Albania        89
               ..
Zambia         32
Zimbabwe       64
Name: beer_servings, dtype: int64

In [17]:
# Series with index and name
people = pd.Series([3000000, 85000], index=['Albania', 'Andorra'], name='population')
display(people)
# people.population: won't work

Albania    3000000
Andorra      85000
Name: population, dtype: int64

In [18]:
# series * series: longer aligned
(drinks.beer_servings * people).head()

Afghanistan            NaN
Albania        267000000.0
                  ...
Andorra         20825000.0
Angola                 NaN
dtype: float64

In [19]:
# concat: bind dataframe with series: longer aligned
pd.concat([drinks, people], axis=1).head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,population
Afghanistan,0,0,0,0.0,Asia,NaN
Albania,89,132,54,4.9,Europe,3000000.0
...,...,...,...,...,...,...
Andorra,245,138,312,12.4,Europe,85000.0
Angola,217,57,45,5.9,Africa,NaN