[notebook](http://localhost:8888/notebooks/scripts/25.ipynb)

In [1]:
import pandas as pd
from IPython.display import display
pd.set_option('display.max_rows',4)

In [2]:
ufo = pd.read_csv('../data/ufo.csv')

In [3]:
ufo.loc[0:4, :]

                    City Colors Reported Shape Reported State             Time
0                 Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1            Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
..                   ...             ...            ...   ...              ...
3                Abilene             NaN           DISK    KS   6/1/1931 13:00
4   New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

[5 rows x 5 columns]

In [4]:
# loc and iloc: difference
ufo.iloc[0:4, :]

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3      Abilene             NaN           DISK    KS   6/1/1931 13:00

In [5]:
# loc: select by exact 0 to 4 index
ufo.loc[0:4, 'City':'State']

                    City Colors Reported Shape Reported State
0                 Ithaca             NaN       TRIANGLE    NY
1            Willingboro             NaN          OTHER    NJ
..                   ...             ...            ...   ...
3                Abilene             NaN           DISK    KS
4   New York Worlds Fair             NaN          LIGHT    NY

[5 rows x 4 columns]

In [6]:
# sample: select randomly by 3 
ufo.sample(n=3)

             City Colors Reported Shape Reported State             Time
17479  Scottsdale             NaN          FLASH    AZ  9/19/2000 23:00
2589    Santa Ana             RED         SPHERE    CA  4/15/1974 22:00
1439     Glendale             NaN          LIGHT    AZ  6/27/1967 23:00

In [7]:
# random_state: repeatability
ufo.sample(n=3, random_state=42)

               City Colors Reported Shape Reported State              Time
217    Norridgewock             NaN           DISK    ME   9/15/1952 14:00
12282         Ipava             NaN       TRIANGLE    IL   10/1/1998 21:15
17933     Ellinwood             NaN       FIREBALL    KS  11/13/2000 22:00

In [10]:
# sample frac: select 75 pct randomly
train = ufo.sample(frac=0.75, random_state=99)
train

                 City Colors Reported Shape Reported State              Time
6250        Sunnyvale             NaN          OTHER    CA   12/16/1989 0:00
8656   Corpus Christi             NaN            NaN    TX    9/13/1995 0:10
...               ...             ...            ...   ...               ...
11887       Vancouver             NaN       TRIANGLE    WA   7/25/1998 21:00
9809         Issaquah             NaN            NaN    WA  12/14/1996 20:20

[13681 rows x 5 columns]

In [11]:
# ~ isin : remaining 
test = ufo.loc[~ufo.index.isin(train.index), :]
test

,City,Colors Reported,Shape Reported,State,Time
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
5,Valley City,NaN,DISK,ND,9/15/1934 15:30
...,...,...,...,...,...
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45