[notebook](http://localhost:8891/notebooks/scripts/26.ipynb)

In [3]:
import pandas as pd
import numpy as np
s2 = pd.Series(['a_b_c', 'c_d_e', np.nan, 'f_g_h'])

In [4]:
s2.str.split('_')

0    [a, b, c]
1    [c, d, e]
2          NaN
3    [f, g, h]
dtype: object

In [5]:
s2.str.split('_').str.get(1)

0      b
1      d
2    NaN
3      g
dtype: object

In [6]:
s2.str.split('_').str[1]

0      b
1      d
2    NaN
3      g
dtype: object

In [7]:
s2.str.split('_', expand=True)

     0     1     2
0    a     b     c
1    c     d     e
2  NaN  None  None
3    f     g     h

In [8]:
s2.str.split('_', expand=True, n=1)

     0     1
0    a   b_c
1    c   d_e
2  NaN  None
3    f   g_h

In [9]:
s2.str.rsplit('_', expand=True, n=1)

     0     1
0  a_b     c
1  c_d     e
2  NaN  None
3  f_g     h