[notebook](http://localhost:8888/notebooks/scripts/32.ipynb)

In [2]:
import pandas as pd
from IPython.display import display
pd.set_option('display.max_rows', 10)

In [3]:
# DataFrame: dictionary
pd.DataFrame({'id':[100, 101, 102], 'color':['red', 'blue', 'red']})

  color   id
0   red  100
1  blue  101
2   red  102

In [4]:
# DataFrame dictionary columnNames indexNames : add column names and index names
df = pd.DataFrame({'id':[100, 101, 102], 'color':['red', 'blue', 'red']}, columns=['id', 'color'], index=['a', 'b', 'c'])
df

    id color
a  100   red
b  101  blue
c  102   red

In [5]:
# DataFrame list columnNames
pd.DataFrame([[100, 'red'], [101, 'blue'], [102, 'red']], columns=['id', 'color'])

    id color
0  100   red
1  101  blue
2  102   red

In [6]:
# np.random.rand: random matrix/table within 1
import numpy as np
arr = np.random.rand(4, 2)
arr

array([[ 0.8985251 ,  0.59511262],
       [ 0.90029516,  0.07158776],
       [ 0.63316732,  0.84772616],
       [ 0.00928363,  0.95330403]])

In [7]:
# DataFrame array columnNames: 
pd.DataFrame(arr, columns=['one', 'two'])

        one       two
0  0.898525  0.595113
1  0.900295  0.071588
2  0.633167  0.847726
3  0.009284  0.953304

In [8]:
# DataFrame dictionary
# np.arange: start, end, step
# np.random.randint: random int, start, end, total number
pd.DataFrame({'student':np.arange(100, 110, 1), 'test':np.random.randint(60, 101, 10)})

   student  test
0      100    94
1      101    74
2      102    62
3      103   100
4      104    78
5      105    85
6      106    81
7      107    80
8      108    88
9      109    91

In [9]:
pd.DataFrame({'student':np.arange(100, 110, 1), 'test':np.random.randint(60, 101, 10)}).set_index('student')

         test
student
100        61
101        87
102        84
103        95
104        78
105        87
106        67
107        65
108        89
109        83

In [10]:
# Series list indexName seriesName
s = pd.Series(['round', 'square'], index=['c', 'b'], name='shape')
s

c     round
b    square
Name: shape, dtype: object

In [11]:
# concat: col bind
pd.concat([df, s], axis=1)

    id color   shape
a  100   red     NaN
b  101  blue  square
c  102   red   round

In [12]:
# concat: row bind
pd.concat([s, df], axis=0)

        0 color     id
c   round   NaN    NaN
b  square   NaN    NaN
a     NaN   red  100.0
b     NaN  blue  101.0
c     NaN   red  102.0