In [ ]:
**Question:** When reading from a file, how do I read in only a subset of the rows?

In [1]:
import pandas as pd

In [2]:
# specify how many rows to read
ufo = pd.read_csv('../data/ufo.csv', nrows=3)
ufo

          City  Colors Reported Shape Reported State             Time
0       Ithaca              NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro              NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke              NaN           OVAL    CO  2/15/1931 14:00