In [1]:
## 29. How do I create a pandas DataFrame from another object? ([video](https://www.youtube.com/watch?v=-Ov1N1_FbP8&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y&index=29))
import pandas as pd

In [2]:
# create a DataFrame from a dictionary (keys become column names, values become data)
pd.DataFrame({'id':[100, 101, 102], 'color':['red', 'blue', 'red']})

  color   id
0   red  100
1  blue  101
2   red  102

In [3]:
# optionally specify the order of columns and define the index
df = pd.DataFrame({'id':[100, 101, 102], 'color':['red', 'blue', 'red']}, columns=['id', 'color'], index=['a', 'b', 'c'])
df

    id color
a  100   red
b  101  blue
c  102   red

In [ ]:
Documentation for [**`DataFrame`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html)

In [4]:
# create a DataFrame from a list of lists (each inner list becomes a row)
pd.DataFrame([[100, 'red'], [101, 'blue'], [102, 'red']], columns=['id', 'color'])

    id color
0  100   red
1  101  blue
2  102   red

In [5]:
# create a NumPy array (with shape 4 by 2) and fill it with random numbers between 0 and 1
import numpy as np
arr = np.random.rand(4, 2)
arr

array([[ 0.98871497,  0.5821904 ],
       [ 0.26733571,  0.78662686],
       [ 0.88246588,  0.62809684],
       [ 0.99557796,  0.74891237]])

In [6]:
# create a DataFrame from the NumPy array
pd.DataFrame(arr, columns=['one', 'two'])

        one       two
0  0.988715  0.582190
1  0.267336  0.786627
2  0.882466  0.628097
3  0.995578  0.748912

In [7]:
# create a DataFrame of student IDs (100 through 109) and test scores (random integers between 60 and 100)
pd.DataFrame({'student':np.arange(100, 110, 1), 'test':np.random.randint(60, 101, 10)})

   student  test
0      100    65
1      101    66
2      102    70
3      103    72
4      104    69
5      105    96
6      106    80
7      107    96
8      108    89
9      109    77

In [ ]:
Documentation for [**`np.arange`**](http://docs.scipy.org/doc/numpy/reference/generated/numpy.arange.html) and [**`np.random`**](http://docs.scipy.org/doc/numpy/reference/routines.random.html)

In [8]:
# 'set_index' can be chained with the DataFrame constructor to select an index
pd.DataFrame({'student':np.arange(100, 110, 1), 'test':np.random.randint(60, 101, 10)}).set_index('student')

         test
student
100        72
101        91
102        81
103        86
104        87
105        70
106        75
107        82
108        84
109        83

In [ ]:
Documentation for [**`set_index`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.set_index.html)

In [9]:
# create a new Series using the Series constructor
s = pd.Series(['round', 'square'], index=['c', 'b'], name='shape')
s

c     round
b    square
Name: shape, dtype: object

In [ ]:
Documentation for [**`Series`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html)

In [10]:
# concatenate the DataFrame and the Series (use axis=1 to concatenate columns)
pd.concat([df, s], axis=1)

    id color   shape
a  100   red     NaN
b  101  blue  square
c  102   red   round

In [11]:
pd.concat([s, df], axis=1)

    shape   id color
a     NaN  100   red
b  square  101  blue
c   round  102   red

In [ ]:
**Notes:**

- The Series name became the column name in the DataFrame.
- The Series data was aligned to the DataFrame by its index.
- The 'shape' for row 'a' was marked as a missing value (NaN) because that index was not present in the Series.

Documentation for [**`concat`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html)

[<a href="#Python-pandas-Q&A-video-series-by-Data-School">Back to top</a>]