In [ ]:
import pandas as pd

In [ ]:
# read a dataset of Chipotle orders directly from a URL and store the results in a DataFrame
orders = pd.read_table('data/chipotle.tsv')

In [ ]:
# examine the first 5 rows
orders.head()

In [ ]:
# read a dataset of movie reviewers (modifying the default parameter values for read_table)
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
# a table without header, must use header=None
users = pd.read_table('data/u.user.txt', sep='|', header=None, names=user_cols)

In [2]:
# header = 0 refer to first row of data
users = pd.read_table('data/u.user.txt', sep='|', header=0, names=user_cols)

# examine the first 5 rows
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213