In [1]:
import pandas as pd
import numpy as np

In [2]:
left_frame = pd.DataFrame({'key': range(5), 
                           'left_value': ['a', 'b', 'c', 'd', 'e']})
right_frame = pd.DataFrame({'key': range(2, 7), 
                           'right_value': ['f', 'g', 'h', 'i', 'j']})
print(left_frame)
print('\n')
print(right_frame)

   key left_value
0    0          a
1    1          b
2    2          c
3    3          d
4    4          e


   key right_value
0    2           f
1    3           g
2    4           h
3    5           i
4    6           j

In [4]:
# share on key column, keep all other columns, keep intersections on key
pd.merge(left_frame, right_frame, on='key', how='inner')

   key left_value right_value
0    2          c           f
1    3          d           g
2    4          e           h

In [5]:
pd.merge(left_frame, right_frame, on='key', how='left')

   key left_value right_value
0    0          a         NaN
1    1          b         NaN
2    2          c           f
3    3          d           g
4    4          e           h

In [6]:
# join based on right 
pd.merge(left_frame, right_frame, on='key', how='right')

   key left_value right_value
0  2.0          c           f
1  3.0          d           g
2  4.0          e           h
3  5.0        NaN           i
4  6.0        NaN           j

In [7]:
# union join
pd.merge(left_frame, right_frame, on='key', how='outer')

   key left_value right_value
0  0.0          a         NaN
1  1.0          b         NaN
2  2.0          c           f
3  3.0          d           g
4  4.0          e           h
5  5.0        NaN           i
6  6.0        NaN           j

In [8]:
# there is no key column to share, just row bind and join all other columns
pd.concat([left_frame, right_frame])

   key left_value right_value
0    0          a         NaN
1    1          b         NaN
2    2          c         NaN
3    3          d         NaN
4    4          e         NaN
0    2        NaN           f
1    3        NaN           g
2    4        NaN           h
3    5        NaN           i
4    6        NaN           j

In [9]:
# column bind, don't share key column
pd.concat([left_frame, right_frame], axis=1)

   key left_value  key right_value
0    0          a    2           f
1    1          b    3           g
2    2          c    4           h
3    3          d    5           i
4    4          e    6           j