In [1]:
import pandas as pd

from IPython.display import display
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)


stent30 = pd.read_table('../data/Data from openintro.org/stent30.txt')
stent365 = pd.read_table('../data/Data from openintro.org/stent365.txt')

data = pd.concat([stent30, stent365], axis=1)
data.columns = ['group', '0-30days', 'delete', '0-365days']

data.drop(['delete'], axis=1, inplace=True)

data.index.name = "subjects"

data

In [21]:
stent30.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 2 columns):
group      451 non-null object
outcome    451 non-null object
dtypes: object(2)
memory usage: 7.1+ KB

In [25]:
stent365.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 2 columns):
group      451 non-null object
outcome    451 non-null object
dtypes: object(2)
memory usage: 7.1+ KB

In [23]:
stent30

         group   outcome
0    treatment    stroke
1    treatment    stroke
2    treatment    stroke
3    treatment    stroke
4    treatment    stroke
..         ...       ...
446    control  no event
447    control  no event
448    control  no event
449    control  no event
450    control  no event

[451 rows x 2 columns]

In [22]:
stent30.head()

       group outcome
0  treatment  stroke
1  treatment  stroke
2  treatment  stroke
3  treatment  stroke
4  treatment  stroke

In [8]:
stent30.describe()

          group   outcome
count       451       451
unique        2         2
top     control  no event
freq        227       405

In [9]:
pd.crosstab(stent30.group, stent30.outcome)

outcome    no event  stroke
group
control         214      13
treatment       191      33

In [39]:
pd.crosstab(stent365.group, stent365.outcome)

outcome    no event  stroke
group
control         199      28
treatment       179      45

In [10]:
pd.crosstab(stent30.group, stent30.outcome, normalize=True)

outcome    no event    stroke
group
control    0.474501  0.028825
treatment  0.423503  0.073171

### 1-year duration, stroke percentage

In [42]:
pd.crosstab(stent365.group, stent365.outcome, normalize='index')

outcome    no event    stroke
group
control    0.876652  0.123348
treatment  0.799107  0.200893

In [16]:
pd.crosstab(stent30.group, stent30.outcome, normalize='index')

outcome    no event    stroke
group
control    0.942731  0.057269
treatment  0.852679  0.147321

In [15]:
pd.crosstab(stent30.group, stent30.outcome, normalize='index', margins=True)

outcome    no event    stroke
group
control    0.942731  0.057269
treatment  0.852679  0.147321
All        0.898004  0.101996

In [18]:
pd.crosstab(stent30.group, stent30.outcome, normalize='columns')

outcome    no event    stroke
group
control    0.528395  0.282609
treatment  0.471605  0.717391

In [17]:
pd.crosstab(stent30.group, stent30.outcome, normalize='columns', margins=True)

outcome    no event    stroke       All
group
control    0.528395  0.282609  0.503326
treatment  0.471605  0.717391  0.496674

In [19]:
pd.crosstab(stent30.group, stent30.outcome, normalize='all', margins=True)

outcome    no event    stroke       All
group
control    0.474501  0.028825  0.503326
treatment  0.423503  0.073171  0.496674
All        0.898004  0.101996  1.000000

### Combine two dataset together

In [34]:
data = pd.concat([stent30, stent365], axis=1)
data.columns = ['group', '30days', 'delete', '365days']

data.drop(['delete'], axis=1, inplace=True)

data