In [1]:
from collections import OrderedDict
import pandas as pd
import numpy as np

### jinja library for easy html usage

from jinja2 import Template

### Usual bokeh libraries and functions

from bokeh.core.templates import JS_RESOURCES
from bokeh.embed import components
from bokeh.layouts import column
from bokeh.models import (
    ColumnDataSource, Plot, Circle, Range1d,
    LinearAxis, HoverTool, Text, HoverTool,
    SingleIntervalTicker, Slider, CustomJS
)
from bokeh.palettes import Spectral6
from bokeh.plotting import figure, ColumnDataSource
from bokeh.resources import CDN

### Easy printing
from IPython.display import display
pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 10)

In [4]:
### Load data

# data06_16 = pd.read_csv("../data/stocks1542monthly.csv", encoding="GBK", parse_dates=['endDate'])

data07_16 = pd.read_csv("../data/stocks96monthly.csv", encoding="GBK")

data07_16

,Unnamed: 0,ticker,secShortName,date1,date2,price1,price2,multiPrice
0,6,8,神州高铁,2007-08-16,2016-08-16,1.053,9.65,9.164292
1,13,17,深中华A,2007-08-16,2016-08-16,2.304,11.70,5.078125
2,14,18,神州长城,2007-08-16,2016-08-16,2.163,11.06,5.113269
3,29,34,神州数码,2007-08-16,2016-08-16,5.292,29.62,5.597128
4,33,38,深大通,2007-08-16,2016-08-16,9.485,50.20,5.292567
5,40,48,康达尔,2007-08-16,2016-08-16,5.280,34.98,6.625000
6,41,49,德赛电池,2007-08-16,2016-08-16,6.979,38.10,5.459235
7,67,156,华数传媒,2007-08-16,2016-08-16,0.810,19.59,24.185185
8,76,403,ST生化,2007-08-16,2016-08-16,3.163,31.95,10.101170
9,83,413,东旭光电,2007-08-16,2016-08-16,2.898,15.29,5.276052
...,...,...,...,...,...,...,...,...
86,1252,600703,三安光电,2007-08-16,2016-08-16,0.400,12.22,30.550000
87,1254,600705,中航资本,2007-08-16,2016-08-16,0.256,7.16,27.968750
88,1263,600715,文投控股,2007-08-16,2016-08-16,3.726,21.60,5.797101
89,1293,600745,中茵股份,2007-08-16,2016-08-16,3.800,24.74,6.510526
90,1306,600759,洲际油气,2007-08-16,2016-08-16,1.074,8.40,7.821229
91,1309,600763,通策医疗,2007-08-16,2016-08-16,6.365,32.87,5.164179
92,1328,600783,鲁信创投,2007-08-16,2016-08-16,3.693,22.89,6.198213
93,1403,600867,通化东宝,2007-08-16,2016-08-16,3.682,22.96,6.235741
94,1428,600893,中航动力,2007-08-16,2016-08-16,7.047,35.91,5.095785
95,1459,600990,四创电子,2007-08-16,2016-08-16,8.548,79.46,9.295742

In [3]:
### There are 4 dataframes have same row length, some have same columns

display(list(data07_16.columns))
data=data07_16.loc[:, ['secID', 'secShortName', 'endDate', 'openPrice', 'highestPrice', 'lowestPrice', 'turnoverVol', 'turnoverValue']]
data

['Unnamed: 0',
 u'ticker',
 u'secShortName',
 u'date1',
 u'date2',
 u'price1',
 u'price2',
 u'multiPrice']

,secID,secShortName,endDate,openPrice,highestPrice,lowestPrice,turnoverVol,turnoverValue
0,NaN,神州高铁,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,深中华A,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,神州长城,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,神州数码,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,深大通,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,康达尔,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,德赛电池,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,华数传媒,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,ST生化,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,东旭光电,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
86,NaN,三安光电,NaN,NaN,NaN,NaN,NaN,NaN
87,NaN,中航资本,NaN,NaN,NaN,NaN,NaN,NaN
88,NaN,文投控股,NaN,NaN,NaN,NaN,NaN,NaN
89,NaN,中茵股份,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,洲际油气,NaN,NaN,NaN,NaN,NaN,NaN
91,NaN,通策医疗,NaN,NaN,NaN,NaN,NaN,NaN
92,NaN,鲁信创投,NaN,NaN,NaN,NaN,NaN,NaN
93,NaN,通化东宝,NaN,NaN,NaN,NaN,NaN,NaN
94,NaN,中航动力,NaN,NaN,NaN,NaN,NaN,NaN
95,NaN,四创电子,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
### convert series to a list

dates = list(data.endDate)
display(dates[0])
data[data.endDate == dates[0]]

### Create a list of dates turned into integers 

data[data.endDate == "2007-08-31"]

dateTemp = map(lambda x: x[0:4]+x[5:7]+x[8:10], data['endDate'].values.tolist())   
datesNum = []
for date in dateTemp:
    datesNum.append(int(date))

datesNum[0:4]

sources = {}
index = 0
dates[0:5]
for date in dates[0:5]: 
    sources[datesNum[index]] = data[data.endDate == date]
    index = index + 1

    

sources[datesNum[4]]

sources = {}
index = 0
dates
for date in dates: 
    sources[datesNum[index]] = data[data.endDate == date]
    index = index + 1