In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.random([3, 3]),
     columns=['A', 'B', 'C'], index=['first', 'second', 'third'])
df

               A         B         C
first   0.557405  0.342930  0.383459
second  0.648984  0.725052  0.275901
third   0.877397  0.475521  0.963696

In [3]:
df.round(2)

           A     B     C
first   0.56  0.34  0.38
second  0.65  0.73  0.28
third   0.88  0.48  0.96

In [4]:
df.round({'A': 1, 'C': 2})

          A         B     C
first   0.6  0.342930  0.38
second  0.6  0.725052  0.28
third   0.9  0.475521  0.96

In [5]:
decimals = pd.Series([1, 0, 2], index=['A', 'B', 'C'])
decimals

A    1
B    0
C    2
dtype: int64

In [6]:
df.round(decimals)

          A    B     C
first   0.6  0.0  0.38
second  0.6  1.0  0.28
third   0.9  0.0  0.96