In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame(np.random.random([3, 3]),
     columns=['A', 'B', 'C'], index=['first', 'second', 'third'])
df

               A         B         C
first   0.361378  0.083019  0.924257
second  0.065290  0.293853  0.061222
third   0.059955  0.618165  0.886638

In [8]:
df.round(2)

           A     B     C
first   0.36  0.08  0.92
second  0.07  0.29  0.06
third   0.06  0.62  0.89

In [9]:
df.round({'A': 1, 'C': 2})

          A         B     C
first   0.4  0.083019  0.92
second  0.1  0.293853  0.06
third   0.1  0.618165  0.89

In [10]:
decimals = pd.Series([1, 0, 2], index=['A', 'B', 'C'])
decimals

A    1
B    0
C    2
dtype: int64

In [11]:
df.round(decimals)

          A    B     C
first   0.4  0.0  0.92
second  0.1  0.0  0.06
third   0.1  1.0  0.89